version: 2.1
orbs:
  codecov: codecov/codecov@1.1.0
jobs:
  build:
    docker:
      - image: circleci/python:3.7.7
    steps:
      - checkout
      - run:
          name: Install coverage
          command: pip install coverage
      - run:
          name: Run tests and collect coverage
          command: coverage run tests.py
      - run:
          name: Upload coverage reports to Codecov with bash script
          command: ./codecov -v
      - codecov/upload

workflows:
  version: 2.1
  build-test:
    jobs:
      - build
